:root {
  --bg-dark: oklch(0.1233 0.0483 303.63);
  --bg-dark-transparent: oklch(0.1233 0.0483 303.63 / 80%);
  --bg-purple: #663399;
  --bg-light-purple: #cc96f2;
  --bg-blue: #969df1;
  --accent-turquoise: #96f2ef;
  --star-default-color: #96f2ef;
  --hamburger-size: clamp(16px, 10vmin, 32px);
  --hamburger-size: 200px;

  /* Other */
  --rounded: 12px;
}

body::before {
  content: "";
  z-index: -1;
  position: fixed;
  inset: 0;
  width: inherit;
  height: inherit;
  background-image: url(../assets/images/a_floral_pattern_of_flowers.png);
  background-size: 100vw auto;
  background-repeat: repeat;
  filter: brightness(75%);
}

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-pixelify-sans);

  cursor:
    url("/cursors/Classic_cursor_Brushbuddy.png") 7 3,
    default;
}

a,
button,
label,
summary {
  cursor:
    url("/cursors/Link_pointer_Brushbuddy.png") 10 3,
    pointer;
}

input[type="text"],
textarea,
[contenteditable] {
  cursor:
    url("/cursors/Text_hover_Brushbuddy.png") 5 10,
    text;
}

[aria-busy="true"] {
  cursor:
    url("/cursors/Loading_Brushbuddy.png") 24 24,
    wait;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100vw;
  background: var(--bg-purple);
  h1 {
    justify-content: center;
    text-align: center;
    a {
      font-family: var(--font-super-pixel);
      font-size: 2.5rem;
      color: white;
      text-decoration: none;
    }
  }
}

h1 {
  font-family: var(--font-pixelated-elegance);
  font-size: 22px;
}

.divider-horizontal {
  width: 100%;
  height: 2px;
  background-color: white;
  align-self: center;
}

.wrapper {
  height: auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 1rem;
  padding: 1rem 0;
}

.rainbow-border {
  --angle: 0deg;
  border: 3px solid;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      orange,
      lime,
      aqua,
      blue,
      indigo,
      purple,
      magenta,
      red
    )
    1;
  animation: 2s gradient-border linear infinite;
}

.card {
  background-color: var(--bg-dark);
  border: solid 2px var(--bg-purple);
  color: white;
}

.navigation {
  /* visibility: hidden; */
  /* grid-column: 1 / span 16; */
  grid-column: 2 / span 3;
  background: var(--bg-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  gap: 0.5rem;
  padding: 0.5rem;
  min-width: min-content;

  /* #hamburger-toggle { */
  /*   opacity: 0; */
  /*   cursor: pointer; */
  /*   position: absolute; */
  /* } */
  /**/
  /* #hamburger { */
  /*   display: block; */
  /*   padding: 0.5rem; */
  /*   cursor: pointer; */
  /*   width: clamp(16px, 10vmin, 32px); */
  /* } */

  > * {
    width: 100%;
    box-sizing: border-box;
  }

  h1 {
    border: solid 2px var(--bg-purple);
    text-align: center;
    margin: 0.25rem 0 0;
    font-weight: 300;
  }

  .nav-items-container {
    border: solid 2px var(--bg-purple);
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;

    .nav-item {
      text-align: center;
      padding: 1rem 2rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: translate(0.1rem, -0.2rem);
        font-weight: 600;
        a {
          background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(0, 212, 255, 1) 25%,
            rgba(2, 0, 36, 1) 50%,
            rgba(0, 212, 255, 1) 75%,
            rgba(2, 0, 36, 1) 100%
          );
          background-size: 200% 100%;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;
          animation: gradient-shift 1s linear infinite;
        }
      }

      a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .music-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .inspo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      text-align: center;
      margin: 0.5rem;
    }
    div {
      display: grid;
      padding: 0.5rem 0rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      width: 100%;
    }

    .site-badge {
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 4.5rem;
      }
    }
  }
}

.sparkles-wrapper {
  position: relative;

  .sparkle {
    animation: grow-and-shrink 600ms ease-in-out infinite;
    transform: translate(-50%, -50%);
    -webkit-mask: url("../assets/images/star.svg") center / contain no-repeat;
    mask: url("../assets/images/star.svg") center / contain no-repeat;
    background: oklch(
      from var(--star-default-color) l calc(c * 1.8) calc(72 * (var(--i) - 1))
    );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover > .sparkle {
    opacity: 1;
  }
}

.content {
  grid-column: 5 / span 11;
  background: var(--bg-blue);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: auto;

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;

    h1 {
      margin-bottom: 0;
    }
  }

  .bo-container {
    padding: 1rem 0.5rem;
    justify-content: center;
    align-items: center;

    .sleepy-bo {
      height: 20rem;
      width: 20rem;
      background-image: url(../assets/images/sleepy-bo.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      animation: translate-spin 4s linear infinite;
    }
  }

  &#main-posts {
    h2 {
      padding: 0 0.5rem;
    }
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;

    .blog-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        border: 1px white dotted;
        padding: 0.25rem;
      }
    }
  }

  .anime-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;

    .anime-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px white dotted;
    }
  }

  .other-stuff {
    display: flex;
    flex-direction: row;
  }
}

/* Keyframes */
@keyframes translate-spin {
  0% {
    transform: translateX(0%) rotate(0deg);
  }
  50% {
    transform: translateX(180%) rotate(180deg);
  }
  100% {
    transform: translateX(0%) rotate(360deg);
  }
}

@keyframes gradient-border {
  to {
    --angle: 360deg;
  }
}

@keyframes gradient-shift {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Properties */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
